/** Font family **/
$default-font-family: GothamLight;

/** Font size **/
$default-font-size: 16px;
$default-font-size-small: 18px;
$default-font-size-medium: 18px;
$default-font-size-large: 18px;
$default-line-height: 1.2;

/** Font weight **/
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
