$col-gutter: 15px;
$col-gutter-small: 15px;
$col-gutter-medium: 30px;
$col-gutter-large: 40px;
$columns-base:12;

$col-gutter-padding: $col-gutter / 2;
$col-gutter-padding-small: $col-gutter-small / 2;
$col-gutter-padding-medium: $col-gutter-medium / 2;
$col-gutter-padding-large: $col-gutter-large / 2;