$black: #000000;
$white: #ffffff;
$dark: #333333;

$brand: #704e9c;
$white-five: #e8e8e8;

$soft-blue: #95baca;
$soft-light-blue:#D5E3EA;
$soft-light-blue50:rgba(213, 227, 234, 0.5);
$light-blue-grey: #a6c7e2;
$dark-sky-blue: #4a90e2;
$cerulean: #59a4df;
$dark-sky-blue-two-with-transparency: #59A4DF0D;
$blue: #3f6fa8;
$dark_blue: #002855;


$shadow: rgba(0, 0, 0, 0.5);
$shadow-25: rgba(0, 0, 0, 0.25);
$greenish-yellow: #50e3c2;
$yellow: #ffee14;
$red: #b60d22;
$green: #79b168;
$light-grey: #dedede;
$white-fill: #fcfcfc;
$white-three: #f8f8f8;
$white-four: #d1d1d1;
$transparent: rgba(0, 0, 0, 0);
$white-70: rgba(233, 233, 233, 0.7);
$default-font-color: $dark;

$stale-grey: #767676;
$warm-grey-middle: #b5b5b5;
$warm-grey-two: #9b9b9b;
$charcoal-grey: #414042;
$blue-grey: #30353c;
$ice-blue: #d5e3ea;
$bluish-grey: #092040;
$charcoal-grey-three: #404553;
$pale-grey: #e7eaf2;
$header-grey: #ccc;
$grey: #ebebeb;
$grey-two: #E5E5E5;
$blue-nautica: #2D4D8D;
$slate-grey: #B2B2B2;
$background-grey: #F7F7F7;
$black-two: #252525;
$slate-gray-transparent: rgba(235, 235, 235, 0.5);
$hero-shadow-gray: #808080;
$light-blue: #EEF6FC;
$coral: #EE9C87;
$flash-msg-success: #90CC9F;
$flash-msg-error: #EC6868;
$divisor-color: #E4EAEE;
$teal: #64BBC1;
$green-dropdown-label: #39b69a;
$payment-info-container: rgba(235, 235, 235, 0.25);
$invisible: rgba(255, 255, 255, 0);

$main-text: #181818;
$gray-text: #4F4F4F;
$main-blue: #2D9CDB;