.o-grid {
  @include clearfix;
  margin-right: -#{$content-container-spacing-side};
  margin-left:  -#{$content-container-spacing-side};
  position: relative;

  &__col {
    @include responsive-grid;
  }

  &__list {
    @include responsive-grid-list;
  }

  &__flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}